@use '@drumee/ui-styles/src/mixins';

@mixin signin-main {

  &__ui {
    width: 100vw;
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: var(--normal-bg);
    color: var(--normal-fg-10);
    overflow: auto;
    font-family: var(--font-main);
    flex-wrap: wrap;
    padding: var(--spacer-10) var(--spacer-7);

    &[data-device="mobile"] {
      padding: 10px;
      height: auto;
      align-content: start;
      justify-content: flex-start;
      align-items: flex-start;
      justify-items: flex-start;
    }
  }

  &__main {
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 520px;
    gap: 32px;
    background-color: var(--normal-bg-90);
    border: 1px solid var(--border-muted);
    padding: 48px;
    border-radius: 12px;
    box-shadow: var(--shadow-left-big);

    &[data-device="mobile"] {
      top: 0;
      padding: var(--spacer-7);
    }
  }

  &__header {
    width: 100%;
    gap: 12px;
  }

  &__header-top {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    &-container {
      align-items: center;
      gap: var(--spacer-3);
    }

    &-content {
      width: 28px;
      height: 28px;
      align-content: center;
      justify-content: start;
      align-items: start;

      svg {
        width: 100%;
        height: 100%;
        color: var(--active-border);
      }
    }

    &-text {
      font-family: var(--font-bold);
      font-size: 20px;
      color: var(--normal-fg-10);
      letter-spacing: -0.3px;
    }
  }

  &__progress-bar {
    gap: 6px;
    align-items: center;
  }

  &__progress-step {
    width: 40px;
    height: 4px;
    border-radius: var(--corner-radius-max);
    background: var(--overlay-bg-05);
    transition: background 0.3s ease;

    &.active {
      background: var(--active-border);
    }
  }

  &__text-container {
    width: 100%;
    gap: var(--spacer-2);
  }

  &__title {
    font-family: var(--font-bold);
    font-size: 32px;
    line-height: 35px;
    font-weight: 600;
    color: var(--normal-fg-10);
  }

  &__tips {
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 26px;
    color: var(--normal-fg-50);
  }

  &__message {
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--normal-fg-50);

    span {
      font-family: var(--font-bold);
      cursor: pointer;
    }
  }

}

@mixin signin-button {

  &__buttons {
    gap: var(--spacer-4);
    width: 100%;
  }


  &__button-main {
    height: 56px;
    opacity: 1;
    gap: var(--spacer-4);
    border-radius: 4px;
    padding: 16px 24px;
    cursor: pointer;
    transition: all 0.2s ease;

    &[data-haptic="1"] {
      opacity: .6;
      pointer-events: none;
    }

    &.primary {
      padding-right: 6px;
      justify-content: center;
      grid-template-columns: 1fr;
      background: #433CC5;
      color: #FFFFFF;
      align-content: center;
      flex-wrap: wrap;
      border-radius: 4px;
      font-family: var(--font-medium);
      font-weight: 600;
      font-size: 16px;

      &:hover {
        background: #5950FF;
        box-shadow: 0 4px 16px rgba(89, 80, 255, 0.4);
      }

      .icon.svg-wrapper {
        height: 40px;
        width: 40px;
        color: #433CC5;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
      }
    }

    &.full-width {
      width: 100%;
    }

    &.secondary {
      justify-content: center;
      background-color: var(--overlay-bg-05);
      border: 1px solid var(--border-muted);
      color: var(--normal-fg-10);

      &:hover {
        border-color: var(--active-border);
      }

      .icon.svg-wrapper {
        height: 28px;
        width: 28px;
        color: var(--normal-fg-10);
        border-radius: 50%;
        padding: 4px;
      }

      &.full-width {
        width: 100%;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__button.btn {
    width: auto;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 20px;
    font-size: 16px;
    font-family: var(--font-medium);
  }

}
