// @use "sass:meta";
@use '@drumee/ui-styles/src/mixins';
@use 'terms-and-conditions';
@use 'cross-signin';
@use '../../toolkit/skin' as *;

.signin-form {
  @include signin-main;

  &__buttons,
  &__form {
    gap: var(--spacer-6);
    width: 100%;
  }

  &__entry-main {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 1px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  &__entry-input {
    &[data-status="error"] {
      input {
        border: 1px var(--red-600) solid;
      }
    }
  }

  &__entry-input {
    input {
      width: 100%;
      gap: var(--spacer-4);
      width: 100%;
      border-radius: var(--spacer-4);
      padding-top: 12px;
      padding-right: 16px;
      padding-bottom: 12px;
      padding-left: 16px;
      border: 1px var(--neutral-200) solid;
    }

    .entry-reminder__icon {
      right: 5px;
      position: absolute;
    }

    width: 100%;
    height: 100%;
  }

  &__links {
    width: 100%;
    height: 26px;
    justify-content: space-between;
    opacity: 1;
    gap: var(--spacer-4)
  }

  &__text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    color: var(--neutral-600);

    &.link {
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      vertical-align: middle;
      color: var(--primary-500);

      &.c1 {
        margin-right: auto;
        margin-left: var(--spacer-2);
      }

      &.c2 {
        margin-right: 0;
      }
    }
  }

  &__separator {
    width: 100%;
    height: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--neutral-400);
    gap: var(--spacer-6);

    &::before,
    &::after {
      content: " ";
      flex: 1;
      height: 0;
      border: 1px solid var(--neutral-300);
      margin: auto 0;
    }
  }

  &__error-container {
    width: 100%;
    height: auto;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  &__error-content {
    color: var(--red-500);
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
  }

  &__terms {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;

    span {
      font-weight: bold;
      cursor: pointer;
    }
  }
}