@use '../../toolkit/skin' as *;

.signin-router {
  &__ui {
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: var(--neutral-950);
  }
}

.signin {
  @include signin-button;
}
