// @use "sass:meta";
@use '@drumee/ui-styles/src/mixins';
@use 'terms-and-conditions';
@use '../../toolkit/skin' as *;

.signin-direct {
  @include signin-main;

  &__buttons,
  &__form {
    gap: var(--spacer-6);
    width: 100%;
  }

  &__entry-main {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 1px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  &__entry-input {
    &[data-status="error"] {
      input {
        border: 1px var(--red-600) solid;
      }
    }
  }

  &__entry-input {
    input {
      width: 100%;
      gap: var(--spacer-4);
      width: 100%;
      border-radius: var(--spacer-4);
      padding-top: 12px;
      padding-right: 16px;
      padding-bottom: 12px;
      padding-left: 16px;
      border: 1px var(--neutral-200) solid;
    }

    width: 100%;
    height: 100%;
  }


  &__separator {
    width: 100%;
    height: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--neutral-400);
    gap: var(--spacer-6);

    &::before,
    &::after {
      content: " ";
      flex: 1;
      height: 0;
      border: 1px solid var(--neutral-300);
      margin: auto 0;
    }
  }

  &__terms {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;

    span {
      font-weight: bold;
      cursor: pointer;
    }
  }
}