@use '@drumee/ui-styles/src/mixins';
@use '../../toolkit/skin' as *;

.signin-message {
  @include signin-main;


  &__message {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;

    span {
      font-weight: bold;
      cursor: pointer;
    }
  }

}